body {
  background-color: rgba(33, 37, 41, 1) !important;
}
p {
  color: white;
  text-align: center;
}
.coin {
  background-color: #545f694d;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
  align-items: center;
  align-content: center;
}
.modalDiv {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.acrdBtn {
  background-color: #212529da !important;
}
.acrdDiv {
  background-color: #212529da !important;
}
.ownCoin {
  background-color: rgba(102, 51, 153, 0.356);
  margin-left: 5rem;
  margin-right: 5rem;

}
.ownCoinP {
  color: greenyellow;
}
.coinsRate {
  background-color: #16191b6c;
  margin-left: 5rem;
  margin-right: 5rem;
}
